@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* :root {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    --bg-primary: #201a1c;
    scroll-behavior: smooth;
}


/* Navbar component  start******/

.sidebar{
    -webkit-animation: slide-right 0.5s ease-in;
    animation: slide-right 0.5s ease-in;
    -moz-animation: slide-right 0.5s ease-in;
    background-color: #5cdb95;
    width: 60svw !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateY(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-right{
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Navbar component  end******/


/* Hero component  start******/

.hero-text{
    -webkit-animation: fadeIn 1s ease-in both;
    animation: fadeIn 1s ease-in both;
    -moz-animation: fadeIn 1s ease-in both;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* .bg-image{
    background-image: url("/omax/public/img5.jpg");
    filter: blur(2px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -999;

} */

/* Hero component  end******/


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* feature component  start******/

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child{
    width: calc(33% - 10px);
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Breakpoint */
@media (min-width: 640px) {
    .child {
        width: calc(25% - 10px);
    }
}

@media (min-width: 940px) {
    .child{
        width: calc(20% - 10px);
    }
}

/* feature component  start******/

