@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    --bg-primary: #201a1c;
    scroll-behavior: smooth;
}

:root{
    --toggle-bg: #fff;
    --toggle-fg: #201a1c;
}

/* dark mode component  start******/

[data-theme="dark"] {
    @apply bg-dark text-darkText;
}

/* dark mode component  ends******/


main{
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out;
}



/* Navbar component  start******/

header{
    z-index: 100;
}

.sidebar{
    -webkit-animation: slide-right 0.5s ease-in;
    animation: slide-right 0.5s ease-in;
    -moz-animation: slide-right 0.5s ease-in;
    background-color: #5cdb95;
    width: 100svw !important;
    height: 100svh;
    position: fixed;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateY(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-right{
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Navbar component  end******/


/* Hero component  start******/

.hero-text{
    -webkit-animation: fadeIn 1s ease-in both;
    animation: fadeIn 1s ease-in both;
    -moz-animation: fadeIn 1s ease-in both;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.hero-image .img{
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}


/* Hero component  end******/


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* feature component  start******/

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child{
    width: calc(33% - 10px);
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Breakpoint */
@media (min-width: 640px) {
    .child {
        width: calc(25% - 10px);
    }
}

@media (min-width: 940px) {
    .child{
        width: calc(20% - 10px);
    }
}

/* feature component  start******/

.circle {
    clip-path: circle();
}


/* feedback card starts*/

.feedback-card:hover{
    transform: scale(1.1);
    margin: 0 40px;
}

/* feedback card ends*/


/* newsletter card starts*/

.newsletter-color-container{
    background: linear-gradient(125deg, grey 0%, #d9d6d6 100%  );
}

.newsletter input{
    height: 50px;
    width: 100%;
}


/* modal card starts*/

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    display: none;
}
.open{
    display: block;
}
/* modal card end*/
