@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* :root {
    font-family: 'Roboto Slab', serif;
    --bg-primary: #201a1c;
}

.sidebar{
    -webkit-animation: slide-right 0.5s ease-in;
    animation: slide-right 0.5s ease-in;
    -moz-animation: slide-right 0.5s ease-in;
    background-color: #5cdb95;
    width: 60svw !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(50%);
        transform: translate(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-right{
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
