.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 100%;
    cursor: pointer;
}

.item{
    @apply  border-[3px] border-[#5dbb63] mb-[5px];
}

.item:focus-visible{
    border: 2px solid #332e2f;
}

.title{
    @apply text-white flex justify-between items-center bg-[#5dbb63] px-[20px] py-[15px];
}

.title h2{
    @apply text-[20px] font-semibold leading-[20px] sm:leading-[24px];
}


.content{
    color: black;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content-main{
    padding: 0 20px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

.content-show{
    height: auto;
    color: black;
    padding: 10px 20px;
    max-height: 9999;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

